<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhrml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Cadastro pessoa</title>

  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            

</head>
<body>

	<h1>Ola</h1>
		
<th:form action="salvarpessoa" method="post">
	
	<label>Nome</label>
	<input name="Nome:">
	<label>Sobrenome</label>
	<input name="Sobrenome:">
	<input type="submit" value="Salvar">
</th:form>
	
	<a href= "/listapessoas">Listar Pessoas</a>
	<table>
	
	<tr th:each = "pessoa: ${pessoas}">
	<td th:text = "${pessoa.id}">
	<td th:text = "${pessoa.nome}">
	<td th:text = "${pessoa.sobrenome}">
	
	</tr>
	
	</table>
	

</body>
</html>